<%#-- copyright
OpenProject Documents Plugin

Former OpenProject Core functionality extracted into a plugin.

Copyright (C) 2009-2014 the OpenProject Foundation (OPF)

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License version 3.

OpenProject is a fork of ChiliProject, which is a fork of Redmine. The copyright follows:
Copyright (C) 2006-2013 Jean-Philippe Lang
Copyright (C) 2010-2013 the ChiliProject Team

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.

See doc/COPYRIGHT.rdoc for more details.

++#%>

<tr id="document-<%= document_table %>">
    <td>
        <%= link_to h(document_table.project.name), :controller => '/projects', :action => 'show', :id => document_table.project_id %>
    </td>
    <td class="document-category-elements--header">
        <%= link_to h(document_table.title), :controller => '/documents', :action => 'show', :id => document_table %>
    </td>
    <td class="document-category-elements--date">
        <em><%= format_time(document_table.updated_on) %></em>
    </td>
    <td class="wiki">
        <%= format_text(truncate_lines(document_table.description)) %>
    </td>
</tr>
<% 
  if (document_table.attachments.count > 0) %>
    <tr><th colspan="4"><%= link_to_attachments document_table %></td></tr>
<% else %>
    <tr><th colspan="4"><font color="red"><%= I18n.t(:label_no_attachments_exist) %></font></th></tr>
<% end %>
